.act {
    width: 132px;
    height: 32px;
    background-color: $accent-color;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    transition: all 0.6s;
    &:hover {
        background-color: $primary-color;
    }
}
.non-act {
    width: 132px;
    height: 32px;
    background-color: #fff;
    color: $primary-color;
    text-align: center;
    border-radius: 15px;
    transition: all 0.6s;
    &:hover {
        color: $accent-color;
    }
}
