.combo {
    background-color: $back-color;
    min-height: 906px;
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 760px;
        grid-template-rows: 1fr;
        height: 906px;
    }
    &__left {
        background-color: $back-color;
    }
    &__right {
        grid-column: 4;
        min-height: 100%;
        background-color: $primary-color;
    }
    &__headers {
        position: absolute;
        top: 87px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }    
    &__block {
        position: relative;
        min-height: 590px;
        width: 360px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        transition: all 0.6s;
        &:hover {
            box-shadow: 2.5px 2.5px 15px gray;
        }
        &-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
        }
        &-inner {
            width: 240px;
            height: 172px;
            display: flex;
            flex-direction: column;
        }
        &-prices {
            display: flex;
            justify-content: space-between;
        }
        &-price {
            color: $accent-color;
        }
        &-discount {
            text-decoration: line-through;
        }
        &-title {
            margin-top: 8px;
            color: #232c38;
        }
        &-text {
            margin-top: 24px;
            color: #151d28;
        }
        &-btns {
            margin-top: 18px;
            display: flex;
        }
    }
    &__carousel {
        position: absolute;
        top: 275px;
        left: 0;
        width: 1530px;
        height: 610px;
        overflow: hidden;
        z-index: 10;
        &-line {
            position: relative;
            width: 1590px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            column-gap: 32px;
            transition: all 0.6s;
        }
        &-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1158px;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $accent-color;
            z-index: 10;
            transition: all 0.6s;
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}

.c-left {
    left: -392px;
    transition: all 0.6s;
}