.giftset {
    min-height: 802px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $back-color;
    padding-top: 42px;
    background: url('../../img/coffee_bg.png') no-repeat left bottom;
    &__block {
        margin-top: 68px;
        display: grid;
        grid-template-columns: 1fr 88px;
        grid-template-rows: 1fr;
        &-content {
            padding: 64px 68px 64px 62px;
        }
        &-price {
            color: $accent-color;
            font-weight: 600;
        }
        &-title {
            margin-top: 12px;
            font-weight: 700;
        }
        &-text {
            margin-top: 12px;
            font-weight: 300;
        }
        &-subblock {
            margin-top: 24px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            column-gap: 38px;
        }
        &-coffee, &-mountain {
            width: 214px;
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 1fr;
        }
        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-btns {
            margin-top: 46px;
            display: flex;
            justify-content: space-between;
        }
        &-btn {
            width: 168px;
        }
        &-numbers {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        font-weight: 900;
        &:hover {
            cursor: pointer;
        }
    }
    &__switch {
        display: grid;
        grid-template-columns: 490px 560px;
        grid-template-rows: 1fr;
    }
}

.switch__non-active {
    display: none;
}

.non__active {
     background-color: $light-gray;
     color: $back-color;
}